<!DOCTYPE>
<html>
    <head>
        <title>File Streamer</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" href="/css/index.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    </head>
    <body>
        <h1>File Streamer</h1>
        <input type="button" class="btn btn-success" value="Stream Huge" id="stream">
        <input type="button" class="btn btn-success" value="Stream Small" id="sstream">
        <input type="button" class="btn btn-success" value="Continue Stream" id="cstream">
        <div class="result">
            
        </div>
    </body>
    <script src='/socket.io/socket.io.js'></script>
    <script>
        (function(){

            var initSocket = function(type){

                var socket = io.connect('', {query: {type: type}});
                socket.on('result', function(data){
                    console.log(data);
                });
                return socket;
            }
            var socket;

            $('#stream').on('click', function(){
                socket = initSocket('huge');
            });
            
            $('#cstream').on('click', function(){

                socket.emit('continue');
                console.log('Continue...');
            });
            
            $('#sstream').on('click', function(){
                socket = initSocket('small');
            });

        })();
    </script>
</html>